@import url('base.css');
@import url('navigation.css');
@import url('cards.css');
@import url('buttons.css');
@import url('slider.css');
@import url('calendar.css');
@import url('badges.css');
@import url('modal.css');
@import url('toast.css');
@import url('gamification.css');
@import url('wakeup.css');
@import url('goals.css');
@import url('layout.css');
@import url('forms.css');
@import url('animations.css');
@import url('components.css');
